@page "/detailrowpagedisplay"

<h3>DetailRowPage - Display</h3>

<p>On this page we use the Display="Display.None" attribute on the "Status" column, as you can see when openening the detailrow the Grid collapses...</p>

<DataGrid @ref="gridRef"
          TItem="ExampleVMDisplay"
          Data="ExampleVMs"
          PageSize="200"
          Filterable=true
          FilterMethod="DataGridFilterMethod.Contains"
          Responsive
          SortMode="DataGridSortMode.Single"
          FixedColumns
          DetailRowTrigger="@((context) => OnDetailRowTrigger(context, ExpandedSubrowsForVanId))"
          Class="table-max-width">
    <DataGridColumns>
        <DataGridSelectColumn Field="@nameof(ExampleVMDisplay.Id)"
                              Filterable=false
                              Sortable=false
                              Width="33px"
                              FixedPosition="TableColumnFixedPosition.Start">
            <DisplayTemplate>
                @if (context.VanStatusDetails.Count() > 0)
                {
                    @if (context.Id == ExpandedSubrowsForVanId)
                    {
                        <Button @onclick="@(()=> ExpandedSubrowsForVanId = 0)">
                            <i class="fas fa-caret-down" />
                        </Button>
                    }
                    else
                    {
                        <Button @onclick="@((e) => OnOpenDetailRowClick(context.Id, ref ExpandedSubrowsForVanId))">
                            <i class="fas fa-caret-right" />
                        </Button>
                    }
                }
            </DisplayTemplate>
        </DataGridSelectColumn>

        <DataGridColumn Field="@nameof(ExampleVMDisplay.Name)"
                        TextAlignment="TextAlignment.Center"
                        HeaderTextAlignment="TextAlignment.Center"
                        Sortable=true
                        SortField="@nameof(ExampleVMDisplay.Id)"
                        Width="150px"
                        FixedPosition="TableColumnFixedPosition.Start">
            <CaptionTemplate>
                <Tooltip Placement="TooltipPlacement.Bottom" Text="Name">Name</Tooltip>
            </CaptionTemplate>
            <SortDirectionTemplate>
                <SortTemplate Direction="@context" />
            </SortDirectionTemplate>
        </DataGridColumn>

        <DataGridColumn Field="@nameof(ExampleVMDisplay.Description)"
                        TextAlignment="TextAlignment.Center"
                        HeaderTextAlignment="TextAlignment.Center"
                        Sortable=true
                        SortField="@nameof(ExampleVMDisplay.Description)"
                        Width="150px"
                        FixedPosition="TableColumnFixedPosition.Start">
            <CaptionTemplate>
                <Tooltip Placement="TooltipPlacement.Bottom" Text="Description">Description</Tooltip>
            </CaptionTemplate>
            <SortDirectionTemplate>
                <SortTemplate Direction="@context" />
            </SortDirectionTemplate>
        </DataGridColumn>

        <DataGridColumn Field="@nameof(ExampleVMDisplay.Subject)"
                        TextAlignment="TextAlignment.Center"
                        HeaderTextAlignment="TextAlignment.Center"
                        Sortable=true
                        SortField="@nameof(ExampleVMDisplay.Subject)"
                        Width="150px"
                        FixedPosition="TableColumnFixedPosition.Start">
            <CaptionTemplate>
                <Tooltip Placement="TooltipPlacement.Bottom" Text="Subject">Subject</Tooltip>
            </CaptionTemplate>
            <SortDirectionTemplate>
                <SortTemplate Direction="@context" />
            </SortDirectionTemplate>
        </DataGridColumn>

        <DataGridColumn Field="@nameof(ExampleVMDisplay.Status)"
                        TextAlignment="TextAlignment.Center"
                        HeaderTextAlignment="TextAlignment.Center"
                        Sortable=true
                        SortField="@nameof(ExampleVMDisplay.Status)"
                        Width="150px"
                        FixedPosition="TableColumnFixedPosition.Start"
                        Display="Display.None">
            <CaptionTemplate>
                <Tooltip Placement="TooltipPlacement.Bottom" Text="Status">Status</Tooltip>
            </CaptionTemplate>
            <SortDirectionTemplate>
                <SortTemplate Direction="@context" />
            </SortDirectionTemplate>
        </DataGridColumn>

    </DataGridColumns>
    <DetailRowTemplate>
        @{
            var details = context.VanStatusDetails;
            <DataGrid TItem="DetailsVMDisplay"
                      Data="details"
                      Sortable=false
                      ShowCaptions=false
                      Context="detailContext">
                <DataGridNumericColumn Field="@nameof(DetailsVMDisplay.Id)">
                    <DisplayTemplate Context="detailContext">
                        Links:  @(detailContext.Id)
                    </DisplayTemplate>
                </DataGridNumericColumn>
                <DataGridNumericColumn Field="@nameof(DetailsVMDisplay.Name)">
                    <DisplayTemplate Context="detailContext">
                        Rechts:  @(detailContext.Name)
                    </DisplayTemplate>
                </DataGridNumericColumn>

                <DataGridNumericColumn Field="@nameof(DetailsVMDisplay.Description)">
                    <DisplayTemplate Context="detailContext">
                        4 wiel:  @(detailContext.Description)
                    </DisplayTemplate>
                </DataGridNumericColumn>
            </DataGrid>
        }
    </DetailRowTemplate>
</DataGrid>


@code {

}
